<figure class="anatomy-figure" aria-label="Box plot anatomy showing the four post types">
  <picture>
    <source srcset="/images/anatomy-figure.svg" type="image/svg+xml">
    <img src="/images/anatomy-figure.png" alt="Box plot diagram labelling the four post categories: Median (finished essays), Box (dense analysis), Whisker (recommendations), and Outlier (rough ideas)" width="520" height="230">
  </picture>
</figure>
