<div class="newsletter-block newsletter-block--standalone">
  <form class="newsletter-form" action="/api/subscribe" method="post">
    <label for="email-newsletter">Email address</label>
    <div class="newsletter-form__row">
      <input
        type="email"
        id="email-newsletter"
        name="email"
        placeholder="your@email.com"
        required
        class="newsletter-form__input"
        autocomplete="email"
      >
      <button type="submit" class="newsletter-form__btn">Subscribe</button>
    </div>
  </form>
</div>
