---
layout: base.njk
---
<article class="page">
  <h1 class="page__title">{{ title }}</h1>
  <p class="styleguide-intro">{{ intro | safe }}</p>
  <div class="post__body">
    {{ content | safe }}
  </div>
</article>
